*{
  font-family: monospace;
}
body {
  margin: auto;
  max-width: 500px;
  background: #22c1c3;  /* fallback for old browsers */
  font-family: cairo;

background: -webkit-linear-gradient(left, #fdbb2d, #22c1c3);
background: -o-linear-gradient(left, #fdbb2d, #22c1c3);
background: linear-gradient(to right, #fdbb2d, #22c1c3);  /* Chrome 10-25, Safari 5.1-6 */ /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}
.error {
  width: 70%;
  min-height: 1.5em;
  margin: 0.2em auto 0.5em;
  font-size: 15px;
  color: red;
  text-transform: uppercase;
  font-weight: bold;
}
form {
  margin: auto;
}
h1 {
  text-align: center;

}
input {
  display: block;
  margin: 1% auto;
  padding: 2%;
  width: 90%;
  border:none;
  border-radius: 10px;
  font-weight: bold;

}
button{
  height: 2rem;
  width: 70%;
  margin-left: 7%;
  border:none;
  border-radius: 10px;
  font-size: 15px;
  font-weight: bold;
  transition-duration: 0.4s;
  background: #9199a5;
  color: #2b2929;
  margin-left: 17%;

}
button:hover{
background: #666868;
color: aliceblue;
}
h1{
  color: #363838
}
.warning {
  border: red 2px solid;
}

.submit {
  margin: 2% auto;
  width: 45%;
}

.invisible {
  display: none;
}
h3 {
  text-align: center;
  color: red;
}