<section class="main__container--limited-width">
  <h1 class="main__title">FACG5 Students</h1>

  <p>Welcome to cohort 5 portfolios app</p>
  {{#each  res}}
  <p>{{this}}</p>
<img src='{{this.img}}'>
  <a href="/portFolio/{{this.id}}"> <h4>{{this.name}}</h4></a>
  {{/each}}
  


</section>
