<section class="main__container--limited-width">

<div class="header">
   <h1>FACG5 Students</h1>
  <p>Welcome to cohort 5 portfolios app</p> `
</div>
 
  <div class="container">
  {{#each  res}}
    <div class="stdiv">
  <div class="stdpic">
    <img  src='{{this.img}}'>
  </div>
    <h4 class="stdname">{{this.name}}</h4>

  <button class="stdbtn"> Show Pojects </button>
  </div>

  {{/each}}
</div>



</section>
