<section class="signup">
  <h1>LOGIN PAGE</h1>
  <input id="username" type="email" required placeholder="Username" />
  <p id="emailErr" class="error"></p>


  <input id="password" type="password" required placeholder="password" />
  <p id="passwordErr" class="error"></p>

  <button id="loginSubmit">Login</button>
</section>
{{#if jsFile}}
<script src="js/{{jsFile}}.js" type="text/javascript"></script> {{/if}}