<!DOCTYPE html>
<html>
  {{>htmlHead}}
<body>



  <main class="main">
  {{{body}}}
  <h1>{{insert}}</h1>
  </main>
  <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>


    <script src="/js/fetch.js"></script>
  {{#if jsFile}}
    <script src="/js/{{jsFile}}.js"></script>
{{/if}}

</body>
</html>
