<!DOCTYPE html>
<html>
  {{>htmlHead}}
<body>



  <main class="main">
  {{{body}}}
  </main>


    <script src="/fetch.js"></script>
  {{#if insert}}
    <script src="/{{insert}}.js"></script>
{{/if}}


</body>
</html>
