<!DOCTYPE html>
<html>
  {{>htmlHead}}
<body>



  <main class="main">
  {{{body}}}
  </main>
  <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>

  {{#if jsFile}}
    <script src="/js/{{jsFile}}.js"></script>
{{/if}}


</body>
</html>
